<div id="article">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1><%= @article.title %>
          <small>
            <%= link_to edit_article_path(@article) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to article_path(@article), method: :delete, data: {confirm: "Are you sure my Dear ?"} do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </small>
        </h1>
        <p><img src="http://unsplash.it/800/300" alt=""></p>
        <p><%= Kramdown::Document.new(@article.content).to_html.html_safe %></p>
      </div>
    </div>
  </div>
</div>
